language: android

dist: trusty

android:
  components:
    - build-tools-29.0.2
    - android-29
    - extra

before_cache:
  - rm -f  $HOME/.gradle/caches/modules-2/modules-2.lock
  - rm -fr $HOME/.gradle/caches/*/plugin-resolution/
cache:
  directories:
    - $HOME/.gradle/caches/
    - $HOME/.gradle/wrapper/

before_install:
  - chmod +x gradlew
  - yes | sdkmanager "platforms;android-28"

script:
  - ./gradlew clean check assembleDebug